body {
    margin: 0;
}

header {
    display: flex;
    flex-flow: row wrap;
    /* gör så att detta funkar bättre på telefon!! */
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px lightgrey solid;
    padding-right: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.links {
    list-style: none;
    margin: 0;
}

#header-icon {
    height: 2.5rem;
}

#title {
    font-family: 'Girassol', cursive;
    margin: 0 0 0 0.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.teacher-card {
    margin: 1rem 0 0 1rem;
}


.klasstitel {
    color: darkcyan;
    margin-left: 5px;
}

.kanal {
    display: flex;
    justify-content: space-between;
}

.overveiw {
    width: 30rem;
}

#problem-link {
    display: block;
    margin: 1rem 0 0 1rem;
}

.content {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
}

.badge-primary {
    background-color: lightblue;
}

#meeticon {
    height: 1.5rem;
}

.list-group :hover {
    cursor: pointer;
    background-color: rgb(236, 230, 217);
}

.list-group-item-action:focus {
    background-color: rgb(236, 230, 217);
}

.onlines {
    margin-left: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    color: grey;
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    pointer-events: none;
}

.btn-group a {
    border-right: 2px solid grey;
}

.btn-group a:last-child {
    border-right: none;
}

.dumbborder {
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 1rem;
}

#lcontainer {
    max-width: 60rem;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.teacher-card img {
    width: 302px;
    height: 170px;
    object-fit: cover;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: rgba(255, 255, 255, 0.568);
    }

    .card {
        background-color: rgb(41, 41, 41);
    }

    header {
        border-bottom: 1px rgb(41, 41, 41) solid;
        background-color: rgb(53, 53, 53);
    }

    #title {
        color: white;
    }

    .list-group-item {
        background-color: rgb(41, 41, 41);
        color: rgba(255, 255, 255, 0.822);
    }

    .list-group :hover {
        background-color: rgb(77, 77, 77);
        color: rgba(255, 255, 255, 0.822);
    }

    .list-group-item-action:focus {
        background-color: rgb(77, 77, 77);
        color: rgba(255, 255, 255, 0.822);
    }

    .badge-primary {
        background-color: rgb(56, 71, 77);
        color: rgba(255, 255, 255, 0.568);
    }

    .btn-primary {
        color: rgba(255, 255, 255, 0.918);
    }

    .btn-link {
        color: darkcyan;
    }
}